snippet prf "printf" 
printf("${1: YOU WANT PRINT}");
endsnippet

snippet init "new file" 
#include <stdio.h>

int main()
{
	${1:// CODE HERE}
	return 0;
}
endsnippet

snippet sf "scanf" 
scanf("${1:SCANF}", ${2});
endsnippet

snippet std "new file" 
#include <stdio.h>
#include <stdlib.h>

int main()
{
	${1:// CODE HERE}
	return 0;
}
endsnippet
